@import url('https://fonts.googleapis.com/css2?family=Abel&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,600;6..12,800&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,600;6..12,800&family=Rajdhani:wght@300;400;500;600;700&family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;600;800;900&family=Sawarabi+Gothic&display=swap');


* {
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Rajdhani, 'sans-serif';
    /* font-family: 'Fira Sans', sans-serif; */
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    width: 100%;
    /* height: 5000px; */


    /* scrollbar-width: thin;
    scrollbar-color: #4A90E2 #ECECEC; */

    /* &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #4A90E2;
    }

    &::-webkit-scrollbar-track {
        background-color: #ECECEC;
    } */


}

h1 {
    margin-top: 50px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

/* :where(.css-dev-only-do-not-override-18iikkb).ant-drawer .ant-drawer-body {
    scrollbar-width: thin;
    scrollbar-color: #4A90E2 #ECECEC;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #4A90E2;
    }

    &::-webkit-scrollbar-track {
        background-color: #ECECEC;
    }
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.loader {
    width: 40px;
    height: 40px;
    border: 5px solid #d7d7d7;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: rotate(45deg) translate(-50%);
}

.loader::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset: -5px;
    border-radius: 50%;
    border: 5px solid #2c69eb;
    animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}


/* LOGIN */

.form {
    padding: 15px;
    margin: 70px auto;
    max-width: 400px;
}

.form-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}

.form-name h2 {
    font-weight: 500;
    color: #0b0027;
    font-size: 33px;
    margin: 0px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.form-button {
    width: 100%;
    margin-top: 5px !important;
}

.form-error-modal {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-family: Rajdhani;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    /* margin-bottom: 10px; */
}








/* .pos-mar {
    margin-top: 134px !important;
} */


/* NAVBAR */

.navbar {
    box-shadow: none !important;
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: column !important;
    background: linear-gradient(to right, #1f4dab, #6b2077);
}

.sticky-navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    animation: navbarAni 1s ease-out;
    z-index: 10000;
    background: linear-gradient(to right, #1f4dab, #6b2077);
}

@keyframes navbarAni {
    from {
        /* opacity: 0.3; */
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.nav-search-bar {
    border-radius: 20px 0 0 20px;
    min-width: 20%;
    font-size: 15px;
    padding: 8px 5px 8px 15px;
    margin: 0;
    border: none;
    outline: none;
    margin-left: auto;
}

.nav-search-but {
    font-size: 34.5px;
    padding: 6px;
    background: #fff;
    color: #0b0027;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.nav-search-but:hover {
    background: #f0f0f0;
}

.nav-search-but:active {
    opacity: 0.7;
}

.cart-prof-con {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

/* FOOTER */

/* footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
} */

:root {
    --light: #ffffff;
    --dark: #000;
}

.layout_item h3 {
    font-family: "Noto Serif Display", serif;
    font-size: 2.3rem;
    font-weight: 300;
    text-align: center;
}

.layout_item a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 500;
    transition: 0.3s ease-in;
    border-bottom: 1px solid transparent;
    margin-bottom: 0.5rem;
    display: inline-flex;
}

.layout_item a:hover {
    border-bottom: 1px solid var(--dark);
}

.layout_item ul {
    list-style-type: none;
    padding: 0;
}

.layout_item button {
    appearance: none;
    border: 0;
    background: transparent;
}

.flex {
    display: flex;
}

.footer_video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border: none;
}


.c-nav-tool {
    color: black;
}

.footer_inner {
    background: var(--light);
    backdrop-filter: blur(50px);
    border: 0.1px solid rgba(233, 232, 232, 0.208);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
}

.footer {
    margin-top: 250px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 40vh;
    background: #f3f3f3;
}

.container {
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.layout_item form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 1px solid var(--dark);
}

.layout_item input {
    padding: 0.75rem 0;
    border: none;
    background: none;
    font-weight: 500;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 1.05rem;
    font-weight: bolder;
}

.layout_item input:focus {
    outline: none;
}

.layout_item input::placeholder {
    color: var(--dark);
}

@media (min-width: 675px) {
    .layout {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 2rem;
    }

    .w-50 {
        width: 50%;
    }

    .w-25 {
        width: 25%;
    }
}

.layout_item form {
    position: relative;
}

.layout_item svg {
    margin: 0.5rem;
}

.c-2 {
    margin-top: 3.5rem;
}

.footer_copyright {
    color: var(--dark);
}

/* HOME */

/* .land-sec {
    width: 100%;
    height: 900px;
    background-image: url('./vector1.png');
    margin-top: -85px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 50px;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    background: linear-gradient(to right, #2c69eb, #204dad);
    background: linear-gradient(to right, #1f4dab, #6b2077);
    background: linear-gradient(to right, , #8f94fb);
} */

.land-sec {
    width: 100% !important;
    height: 800px;
    margin-top: -24px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    padding-left: 150px;
    justify-content: space-between;
    /* padding-top: 20px; */
    flex-wrap: wrap;
    overflow: hidden;
    background: linear-gradient(to right, #1f4dab, #6b2077);
    position: relative;
}

.land-sec *::selection{
    pointer-events: none;
}

.home-mar {
    margin-top: 60px !important;
}

.land-vector {
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 50%;
    transform: translate(-50%) rotate(290deg);
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.land-sec-left {
    /* background: pink; */
    width: 55%;
    z-index: 10;
}

.land-day {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
    color: #00ccff;
    letter-spacing: 5px;
}

.land-title {
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 400;
    margin: 0;
    word-spacing: 2px;
    letter-spacing: 3px;
    line-height: 100%;
    color: #fff;
}

.land-title>span {
    font-weight: 900;
}

.land-desc {
    font-weight: 200;
    max-width: 500px;
    margin-bottom: 50px;
}

.land-buy-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px !important;
    transition: 0.3s ease !important;
}

.land-buy-btn:hover {
    gap: 1rem;
}

.land-sec-right {
    /* background: orange; */
    z-index: 10;
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.land-vector2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 15;
    width: 60%;
    height: 40%;
    /* animation-name: vectorAni;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out; */
}

@keyframes vectorAni {
    from {
        opacity: 0.2;
        width: 10%;
    }

    to {
        opacity: 1;
        width: 60%;
    }
}

.land-img {
    /* width: 50%; */
    /* background-color: #000; */
    display: flex;
    justify-self: flex-end;
    padding: 0;
    margin: 0;
    object-fit: contain;
    width: min-content;
    z-index: 99;
    position: relative;
}

.land-quote-con {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.land-quote-con>p {
    color: #fff;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    width: fit-content;
    background-color: #2c69eb;
    padding: 12px;
}

.anime-title-con {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.anime-title-con>p {
    color: #333333;
    margin: 0;
    font-size: 43px;
    font-weight: 900;
    border-bottom: 3px solid #2c69eb;
    text-align: center;
}

.why-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* background: purple; */
    color: #444444;
    overflow-x: hidden;
}

.why-con-img {
    max-width: 500px;
    display: flex;
    align-items: center;
}

.why-con-img>img {
    object-fit: contain;
    width: 100%;
}

.why-con-desc {
    /* background: greenyellow; */
}

.why-con-desc>h3 {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #00ccff;
    margin: 0;
    font-size: clamp(1.25rem, 2.5vw, 1.2rem) !important;
}

.why-con-desc>h1 {
    font-weight: 900;
    /* font-size: 40px; */
    margin: 0;
    font-size: clamp(1.75rem, 4.5vw, 2.5rem) !important;
}

.why-con-desc p {
    font-weight: 500;
    font-size: 16px;
    max-width: 350px
}

@media only screen and (max-width: 1200px) {
    .land-sec {
        padding-left: 80px;
    }

    .land-day {
        font-size: 24px;
    }

    .land-title {
        font-size: 68px;
    }

    .land-buy-btn {
        /* font-size: 16px; */
    }

    .land-img {
        max-width: 500px;
        margin-right: -20px;
    }
}

@media only screen and (max-width: 1045px) {
    .land-sec {
        padding-left: 60px;
    }

    .land-day {
        font-size: 22px;
    }

    .land-title {
        font-size: 58px;
    }

    .land-desc {
        width: 70%;
    }

    .land-buy-btn {
        /* font-size: 16px; */
    }

    .land-img {
        max-width: 450px;
        margin-right: -25px;
    }

    .why-con-img {
        max-width: 370px;
    }

    .why-con-desc>h3 {
        font-size: 20px;
    }

    .why-con-desc>h1 {
        font-size: 38px;
    }

    .checkout-2-con {
        width: 100% !important;
    }

    .checkout-cart {
        width: 80% !important;
    }

    .checkout-item-img {
        max-width: 170px !important;
    }
}

@media only screen and (max-width: 768px) {
    .land-sec {
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }

    .land-vector {
        display: none;
        top: 0px;
        left: 50%;
        transform: translateX(-50%) rotate(60deg);
        opacity: 0.2;
    }

    .land-vector2 {
        /* display: none; */
        max-width: 360px;
        height: auto;
        right: -30px !important;
    }

    .land-sec-left {
        width: 100%;
        text-align: center;
        /* background-color: #00ccff; */
    }

    .land-title {
        font-size: 48px;
    }

    .land-desc {
        width: 80%;
        margin: 10px auto;
        margin-bottom: 30px;
    }

    .land-buy-btn {
        font-size: 16px;
    }

    .land-sec-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* background: orange; */
    }

    .land-img {
        width: 100%;
        max-width: 400px;
        margin-right: -50px;
        /* background: #000; */
    }

    .land-quote-con>p {
        font-size: 16px;
    }

    .anime-title-con>p {
        font-size: 30px;
    }

    .why-con {
        padding: 0 15px;
        padding-top: 100px;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .why-con-img {
        /* max-width: 320px; */
        flex-grow: 1;
    }

    .why-con-desc {
        flex-grow: 1;
        text-align: center;
    }

    .why-con-desc>h3 {
        font-size: 20px;
    }

    .why-con-desc>h1 {
        font-size: 38px;
    }

    .why-con-desc p {
        font-size: 15px;
        margin: 5px auto;
        margin-bottom: 25px;
    }

    .checkout-2-con {
        flex-direction: column;
        margin-bottom: 10px !important;
    }

    .order-con {
        order: -1;
        /* border-bottom: 1px solid #9399a2; */
    }

    .visible {
        display: block !important;
        margin: 0px auto !important;
        background: #cacaca !important;
    }
}

.visible {
    display: none;
}

.home-con {
    display: flex;
}

.home-con-left {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    color: black;
    text-align: center;
}

.home-con-right {
    margin-left: 250px;
    padding: 20px;
}

@media (max-width: 768px) {
    .home-con {
        flex-direction: column;
    }

    .home-con-left {
        position: static;
        /* Remove fixed positioning on smaller screens */
        width: 100%;
        /* Full width for smaller screens */
        box-shadow: none;
        /* Remove shadow on smaller screens */
    }

    .home-con-right {
        margin-left: 0;
        /* Remove margin for smaller screens */
        width: 100%;
        /* Full width for smaller screens */
        overflow-y: visible;
        /* Disable scrolling on smaller screens */
    }
}

.home-sort-con {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-bottom: 1px solid #9399a2; */
    /* margin-bottom: 20px; */
    padding: 0 20px;
}

.home-sort-con>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    color: #9399a2;
    gap: 0.5rem;
}



/*                                             /* DRAWER */
@keyframes cartAni {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.cart-con {
    cursor: pointer;
    animation-name: cartAni;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    transition: 0.2s ease;
}

.cart-con:hover {
    background: #2c69eb;
}

.cart-drawer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cross-btn {
    float: right;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    padding: 0px 6px;
    border-radius: 4px;
}

.lists-con {
    margin-top: -15px;
    margin-bottom: 50px;
}

.list-con {
    transition: transform 3s ease-in-out;
    transform: translateX(-110%);
    pointer-events: none;
}

.deleteAni {
    animation-name: deleteAni;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes deleteAni {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0.4;
        transform: translateX(-110%);
    }
}

.quan-con {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    z-index: 5;
    background: #fff;
    color: black;
    padding: 10px;
    padding-bottom: 20px;
    /* box-shadow: 0px -0.5px 5px #f3f3f3; */
    border-top: 1px solid gainsboro;
}

.num-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-con>div {
    display: flex;
    align-items: center;
}

.num-con>div:nth-child(1) p {
    /* color: #6177ff; */
    font-weight: 600;
    font-size: 21px;
}

.quan-con p {
    margin: 5px;
    font-size: 17px;
}

.quan-con>div:nth-child(2) h5 {
    font-weight: 600;
    text-align: center;
    font-size: 13px;
    margin: 10px;
}

.checkout-btn {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 19px;
    background: #204dad;
    font-weight: 500;
    color: white;
    padding: 7px;
    transition: 0.2s ease;
}



.checkout-btn:hover {
    background: #2c69eb;
}

.checkout-btn:active {
    opacity: 0.8;
}



.cart-item {
    transition: transform 0.3s ease-in-out;
}

.cart-item.deleted {
    transform: translateX(-100%);
    opacity: 0;
}

.drawer-cart-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    display: flex;
    /* background: yellow; */
}

.order-list {
    /* background-color: pink; */
    align-items: center !important;
    position: relative;
}

.checkout-price {
    color: #126373;
    font-weight: 600;
    font-size: 19px;
    /* position: absolute;
    right: 0; */
    /* flex-grow: 1; */
}

.checkout-item-qty {
    position: absolute;
    left: 90px;
    top: 0;
    background-color: rgba(148, 154, 163, 0.95);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-arrow {
    cursor: pointer;
    rotate: -40deg;
    transition: 0.3s !important;
}

.item-arrow:hover {
    color: #204dad;
    transform: rotate(40deg) scale(1.1);
}

.empty-cart {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}

/* .empty-cart h2 {
    margin-top: 80px;
    margin-bottom: 0;
} */

.empty-cart>p {
    width: fit-content;
    border-bottom: 1px solid #2c69eb;
}


.quan-btn {
    background: #d7d7d7;
    color: #202020;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #126373; */
    font-weight: 300;
    border: none;
    font-size: 20px !important;
    cursor: pointer;
}

.drawer-trash-con {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drawer-trash {
    color: #d54d4d;
    transition: 0.1s ease;
}

.drawer-trash:hover {
    color: #d54d4dc4;
}

.quan-btn:hover {
    background: #d7d7d7;
}

.quan-btn:active {
    opacity: 0.9;
}

.btn-disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
}






.item-grid-con {
    width: 85%;
    margin: 0 auto;
    margin-top: 115px;
    /* border: 2px solid white; */
}

.items-grid {
    border: 1px solid white;
    cursor: pointer;
}

.items-grid:hover {
    opacity: 0.9;
}

.items-grid:active {
    opacity: 0.8;
}

.greet {
    margin: 0;
    color: #04a8d1;
    background-color: #e6e6e6;
    padding: 10px 0;
    font-weight: 900;
}



/*                                   /* CARD */

.centered-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 50px;
    max-width: 80%;
    text-decoration: none;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.custom-arrow.prev {
    left: -80px;
}

.custom-arrow.next {
    right: 0px;
}


.slick-dots li button:before {
    color: white !important;
}



/* .card {
    opacity: 0.5 !important;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out !important;
}

.card.reveal {
    opacity: 1 !important;
    transform: translateY(0);
} */


/* CARD */

.card-con {
    width: 80%;
    margin: 0px auto;
    /* margin-bottom: 40px; */
    /* background: pink  !important; */

    /* display: flex;
    justify-content: flex-start;
    gap: 0.55rem;
    flex-wrap: wrap; */

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-rows: 350px; */
}

.card-link {
    text-decoration: none;
    /* background: green !important; */
    /* border-radius: 20% !important; */
    /* width: calc(25% - 0.55rem); */
}

.card {
    position: relative;
    cursor: pointer;
    box-shadow: none !important;
    transition: 0.3s !important;
    /* width: 100%; */
    /* background: yellow !important;
    border-radius: 20% !important; */
}

.card:hover {
    transform: scale(1.01) !important;
}

.card-img {
    width: 100% !important;
    transition: 0.5s ease;
    /* background: beige !important;
    border-radius: 20% !important; */
}

.card-img:hover {
    transform: scale(1.1);
}

.size-select {
    width: 250px;
}

.card-det-con {
    text-align: center;
}

.cloth-title {
    font-weight: 300 !important;
    /* font-size: 28px !important; */
    font-size: clamp(1.75rem, 1.5vw, 2rem) !important;
    font-family: Teko, 'sans-serif' !important;
    margin-bottom: -5px !important;
    color: #140047 !important;
    white-space: nowrap;
}

.cloth-status {
    position: absolute;
    top: 8px;
    right: 4px;
    color: #fff;
    padding: 4px 5px;
    font-size: 14px;
}

.status-clr {
    background-color: #00ccff;
}

.out-status-clr {
    background-color: #016f8a;
}

.price-add-con {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.price-con {
    font-family: Rajdhani, 'sans-serif' !important;
    color: #204dad;
    font-weight: 500;
    font-size: 22px;
}

.dis {
    display: none;
}

/* 
@media only screen and (max-width: 1245px) {
    .card-link {
        width: calc(25.211% - 0.55rem);
    }

    .cloth-status {
        font-size: 12px;
    }

    .card-img {
        height: 210px;
    }
}

@media only screen and (max-width: 1100px) {
    .card-link {
        width: calc(25.211% - 0.55rem);
    }

    .card-img {
        height: 180px;
    }

    .cloth-status {
        font-size: 12px;
    }

    .cloth-title {
        font-size: 25px !important;
        margin-top: -10px !important;
    }

    .price-con {
        font-size: 19px;
    }
}

@media only screen and (max-width: 960px) {
    .card-link {
        width: calc(25.29% - 0.55rem);
    }

    .cloth-status {
        font-size: 11px;
    }

    .cloth-title {
        font-size: 23px !important;
    }

    .price-con {
        font-size: 17px;
    }

    .card-img {
        height: 160px;
    }
}

@media only screen and (max-width: 850px) {
    .card-link {
        width: calc(25.29% - 0.55rem);
    }

    .cloth-status {
        font-size: 9px;
    }

    .cloth-title {
        font-size: 21px !important;
        margin-top: -10px !important;
        margin-bottom: -7px !important;
    }

    .price-con {
        font-size: 15px;
    }

    .card-img {
        height: 145px;
    }
}
 */

@media only screen and (max-width: 770px) {
    .card-con {
        width: 90%;
    }

    /* .cloth-status {
        font-size: 8px;
    } */

    /* .cloth-title {
        font-size: 20px !important;
        margin-top: -10px !important;
        margin-bottom: -7px !important;
    } */

    /* .price-con {
        font-size: 14px;
    } */

    .checkout-cart {
        width: 100% !important;
    }

    .checkout-item-img {
        max-width: 140px !important;
    }
}

@media only screen and (max-width: 685px) {
    .card-con {
        width: 100%;
        padding: 0 20px;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: flex-start !important;
    }

    .card-link {
        width: calc(50% - 0.55rem);
        /* flex-grow: 1; */
    }

    /* .cloth-status {
        font-size: 9px;
    }

    .cloth-title {
        margin-top: -10px !important;
        margin-bottom: -7px !important;
    }

    .price-con {
        font-size: 14px;
    } */
}

@media only screen and (max-width: 550px) {

    /* 
    .cloth-status {
        font-size: 7px;
    } */

    .cloth-title {
        font-size: 19px !important;
        margin-top: -10px !important;
        margin-bottom: -7px !important;
    }

    .price-con {
        font-size: 13px;
    }
}

@media only screen and (max-width: 480px) {
    .card-con {
        padding: 0 10px !important;
    }


    /* .cloth-status {
        font-size: 9px;
    }

    .cloth-title {
        font-size: 20px !important;
    }

    .price-con {
        font-size: 15px;
    } */

    .card-img {
        height: auto;
    }

    .size-select {
        width: 100%;
    }

    .checkout-item-img {
        max-width: 100px !important;
    }
}


/* CLOTH DISPLAY PAGE */

.navs {
    margin-left: 2%;
    margin-top: 90px !important;
    color: #2c69eb;
    font-size: 18px;
}

.navs-link {
    cursor: pointer;
    transform: 0.2s ease;
    text-decoration: none;
}

.navs-link:hover {
    color: #00ccff;
}

.navs-link:active {
    opacity: 0.4;
}

.cloth-display-con {
    display: flex;
    /* flex-direction: column; */
    max-width: 100%;
    width: 700px;
    min-width: 65%;
    margin: 50px auto;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    /* background: pink; */
    color: #202020;
}


.slider-con {
    width: 380px !important;
}

.cloth-img {
    object-fit: contain;
}

.display-det {
    flex: 1;
    position: relative;
    /* background-color: #04a8d1; */
}

.display-det * {
    font-family: Rajdhani, 'serif';
    /* margin: 0; */
    /* color: #016f8a; */
}

.display-status {
    /* position: absolute;
    top: 0;
    right: 0; */
    background: #204dad;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 800;
    width: fit-content;
    margin: 10px 0;
    padding: 5px;
}

.display-title {
    /* margin-top: 10px; */
    margin-bottom: 0;
    font-size: 35px;
    color: #204dad;
    /* background: #016f8a; */
}

.display-con {
    font-size: 18px;
    position: relative;
    margin: 0 !important;
}

.display-price {
    margin: 5px 0;
    font-size: 28px;
    font-weight: 600;
}


.display-quan-con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.display-quan-con p {
    margin: 0;
}

.quan-count-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    text-align: center;
    /* background: #260182; */
    padding: 3px 0px;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px; */
    transition: padding 0.2s ease-in-out;
    border: 1px solid gray;
}

.quan-inp {
    border: none;
    background: transparent;
    /* color: #e8e8e8; */
    color: black !important;
    font-size: 25px;
    width: auto;
    text-align: center;
    outline: none;
    transition: 0.3s ease;
    /* background: #260182 !important; */
}

.quan-count-con input:focus {
    /* background: #1d0163 !important;      */
    border: 1px solid #00ccff;
}

/* .quan-count-con:focus-within {
    padding-left: 7px;
    padding-right: 7px;
    background: #0b0027;
} */

.quan-count-btn {
    cursor: pointer;
    /* color: #e8e8e8; */
    color: black;
    margin: 0;
    font-size: 25px;
    padding: 0 10px;
    background: transparent;
    border-radius: 20%;
    border: none;
}

.quan-count-btn:hover {
    color: #9399a2;
}

.quan-count-btn:active {
    opacity: 0.5;
}

.minus-btn:active {
    box-shadow: 1px 0px 1px #4A90E2;
}

.plus-btn:active {
    box-shadow: -1px 0px 1px #4A90E2;
}

.quan-inp {
    color: #fff;
    margin: 0;
    font-size: 25px;
    width: 50px;
    background: transparent;
    border: none;
}

.buy-add-con {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: #00ccff; */
    gap: 1rem;
    flex-grow: 1;
    margin-top: 50px;
}

.btn-container {
    width: 100%;
    display: flex;
}

.add-button {
    /* flex: 1; */
    width: 100%;
    font-family: Rajdhani, 'sans-serif' !important;
    font-size: 15px !important;
    /* border-radius: 5px !important; */
}


@media screen and (max-width:1300px) {
    .cloth-display-con {
        width: 95%;
    }
}

@media screen and (max-width:950px) {
    .cloth-display-con {
        width: 100%;
        padding: 0 20px;
    }

    .slider-con {
        width: 350px;
    }

    .display-status {
        font-size: 15px;
    }

    .display-title {
        font-size: 35px;
    }

    .display-con {
        font-size: 17px;
    }

    .quan-count-con>p,
    .quan-count-btn {
        font-size: 20px;
    }

}

@media screen and (max-width:790px) {
    .cloth-display-con {
        /* flex-direction: column; */
        /* align-items: center; */
    }

    .slider-con {
        width: 300px;
    }

    .display-title {
        font-size: 30px;
    }

    .buy-add-con {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .btn-container {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .img-con {
        flex: 1;
    }

    .slider-con {
        width: 100% !important;
    }

    .home-sort-con {
        width: 100%;
        justify-content: flex-end !important;
        /* background-color: #f0f0f0; */
    }
}

body:empty {
    background-color: greenyellow !important;
}

.cloth-showcase-con {
    margin: 30px auto !important;
    /* padding-top: 100px;
    margin-top: 100px !important; */
    width: 100%;
    /* background: #000; */
    /* border-top: 30px solid #f3f3f3 !important; */
    color: black;
}

.showcase-title {
    margin-left: 8%;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
}



/* CHECKOUT */

.check-con {
    display: flex;
    /* background: pink; */
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 1rem;
}

.checkout-title {
    margin-top: 0;
    color: black;
    /* width: fit-content; */
    border-bottom: 4px solid #2c69eb;
    /* margin: 0 auto; */
}

.checkout-step {
    margin-top: 0;
    background-color: #204dad;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-cart {
    /* position: relative; */
    width: 65%;
    padding: 20px;
    margin: 40px auto;
    /* border: 1px solid #1d0163; */
    /* background: pink; */
    overflow: hidden;
    border-radius: 15px;
    color: black;
}

.checkout-shop-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.checkout-shop-title>h2 {
    margin-top: 0;
    border-bottom: 2px solid #2c69eb;
}

.list-check {
    margin-bottom: 20px;
}

.checkout-item-img {
    object-fit: contain;
    max-width: 200px;
}

.checkout-num {
    border-top: 1px solid #2c69eb;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    gap: 1rem;
    flex-grow: 1;
}

.checkout-num>div:nth-child(1) {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.checkout-num>div:nth-child(2) {
    /* background: pink;
    padding: 5px; */
    /* width: 10% !important; */
}

/* 
.confirm-btn {
    width: 100%;
} */

.checkout-num>div>p {
    margin: 0;
    /* font-weight: 600; */
    font-size: 20px;
    color: black !important;
}



/* 2 */
.order-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    text-align: center;
}

.order-modal * {
    margin: 2px 0;
}

.checkout-2-con {
    width: 70%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    gap: 5rem;
    flex-wrap: wrap;
    flex-grow: 1;
}

.order-del-title {
    color: #202020;
    border-bottom: 2px solid #2c69eb;
    font-weight: 400;
    width: fit-content;
    margin-bottom: 15px;
    font-size: 13px;
}

.order-del-title * {
    margin: 0;
}

.checkout-details {
    flex: 2;
    position: relative;
}

.order-con {
    /* background: green; */
    flex: 1.2;
    color: black;
    background-color: #f3f3f3;
    padding: 15px;
    height: fit-content;
    /* border: 1px solid gainsboro; */
    border-radius: 5px;
}

.order-item-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2c69eb;
}

.order-item-con * {
    margin: 0;
}

.dis-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check-items-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.check-items-con>div>p {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
}

.checkout-size {
    margin: -6px 0;
    font-size: 18px;
    color: #444444;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
}

.size-hover {
    background: #9399a2;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 3px;
    border-radius: 0px 5px 5px 5px;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
}

.checkout-size:hover {
    color: #444444a2;
    .size-hover {
        display: block;
    }
}

.form-separator {
    height: 1px;
    width: 50%;
    background: #d7d7d7;
    margin: 40px auto;
}

.section-separator {
    height: 25px;
    width: 100%;
    background: #f3f3f3;
    margin: 80px 0;
}

.cod-con {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    background: #f3f3f3;
    border: 1px solid #cacaca;
    color: #333333;
    padding: 13px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.disclaimer {
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0px;
    height: 30px;
    /* background-color: #1d0163; */
    background-color: rgba(5, 168, 209, 0.9);
    /* border-top: 1px solid #04a8d1; */
    margin: 0;
}


.my-account-con {
    display: flex;
    color: black;
    /* background: pink; */
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    flex-grow: 1;
}

.account-det-con {
    /* background: green; */
}

.account-con {
    /* background: #f3f3f3; */
    /* background: gainsboro; */
    /* padding: 10px 20px; */
    padding: 0;
    text-align: start;
    border-radius: 5px;
    font-size: 18px;
}


.order-history-con {
    /* background: greenyellow; */
}

@media only screen and (max-width: 650px) {
    .my-account-con {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
        padding: 0 20px;
    }
}

.ant-input {
    border: 1px solid #cacaca;
    padding: 10px;
    border-radius: 5px !important;
}

.ant-form-item-label label {
    font-size: 16px !important;
    font-weight: 500;
    /* background: pink; */
}

.form-dis {
    /* background-color: pink; */
    display: flex;
    justify-content: space-around;
    gap: 0.6rem;
    align-items: center;
    flex-wrap: wrap;
}

.form-dis * {
    flex-grow: 1;
}